body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.stg{
    color: rgb(25, 162, 180);
}
section{
    display: flex;
}
.wib{
    width: 50%;
    padding: 5%;
}
.wib img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    color: bisque;
    background-color: darkslategray;
    padding: 10px 30px;
    border: 2px solid rgb(0, 195, 255);
    border-radius: 20px;
}