body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.stg{
    color: rgb(25, 162, 180);
}
section{
    display: flex;
}
.wib{
    width: 50%;
    padding: 5%;
}
.wib img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    color: bisque;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.then-again{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}